<tr>
  <td><%= message.author_name rescue nil %></td>
  <td><%= message.category_name rescue nil %></td>
  <td><%= message.sub_category_name rescue nil %></td>
  <td><%= message.title %></td>
  <td><%= message.content %></td>
  <td><%= link_to 'Show', message %></td>
  <td><%= link_to 'Edit', edit_message_path(message) %></td>
  <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
