 <tr>
    <td><%= author.name %></td>
    <td><%= author.messages_size %></td>
    <td><%= author.email %></td>
    <td><%= author.phone %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
